@page "{id:int}"
@model YelpcampRazorPages.Pages.Campgrounds.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campground</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campground.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campground.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campground.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campground.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campground.Teaser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campground.Teaser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campground.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campground.Body)
        </dd>
    </dl>
    @await Html.PartialAsync("_CommentList") 
    <h5>Add a comment!</h5>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Comment.CampgroundId" value="@Model.Campground.CampgroundId" hidden />

        <div class="form-group">
            <label asp-for="Comment.Body" class="control-label"></label>
            <input asp-for="Comment.Body" class="form-control" />
            <span asp-validation-for="Comment.Body" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Campground.CampgroundId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
