@page
@model YelpcampRazorPages.Pages.Campgrounds.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Campground[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campground[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campground[0].Teaser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campground[0].Body)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Campground) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teaser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CampgroundId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CampgroundId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CampgroundId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
