@page
@model Web.Areas.Admin.Pages.Campgrounds.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Campground</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campground.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campground.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campground.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campground.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campground.Teaser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campground.Teaser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campground.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campground.Body)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Campground.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
